@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<FilmsC.Models.Film>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Главная";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Постер
        </th>
        <th>
            Название фильма
        </th>
        <th>
            Описание
        </th>
        <th>
            Год выпуска
        </th>
        <th>
            Режиссер
        </th>
        <th>
            Жанр
        </th>
        <th>
            Добавил
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if(item.Poster != null && item.Poster.Length > 1)
                {
                    string imreBase64Data = Convert.ToBase64String(item.Poster);
                    string imgDataURL = string.Format("data:" + item.ContentType + ";base64," + imreBase64Data);

                    <img src="@imgDataURL" width="80" alt="Постер" />
                }else
                { 
                    <span>Постер</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Подробно", "Details", new { id = item.ID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))