@model PagedList.IPagedList<FilmsC.Models.Film>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Главная"; 
}

<h2>Каталог</h2>
@if (User.Identity.IsAuthenticated == true)
{
    <p>
        @Html.ActionLink("Добавить фильм", "Create")
    </p>
}
    <table class="table">
        <tr>
            <th>
                Постер
            </th>
            <th>
                Название фильма
            </th>
            <th>
                Описание
            </th>
            <th>
                Год выпуска
            </th>
            <th>
                Режиссер
            </th>
            <th>
                Жанр
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Poster == null || item.Poster.Length <= 1)
                    {
                        //Выводим пустое место
                        <span>Постер</span>
                    }
                    else
                    {
                        //Выводим картинку
                        string imgurl = "data:" + item.ContentType + ";base64," + Convert.ToBase64String(item.Poster);
                        <img src=@imgurl width="80" />
                    }
                </td>
                <td>
                    <label class="control-label">@Html.DisplayFor(modelItem => item.Name)</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    <span>@Html.ActionLink("Подробно", "Details", new { id = item.ID }) |</span>
                    @if (User.Identity.IsAuthenticated == true && User.Identity.Name == item.Owner)
                    {
                        <span>
                            @Html.ActionLink("Изменить", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
                        </span>
                    }
                </td>
            </tr>
        }

    </table>

    <br />
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
